/* General styles for larger screens (desktop) */
.project-listing {
  margin-top: 0;
  background-image: url('../../assets/Header-bg.svg');
  height: 20vh;
  width: 97vw;
  background-size: cover;
  padding: 16px 0;
  margin-bottom: 18px;
  margin-left: 30px;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  margin-left: 10px;
}

.list-container {
  height: 80vh;
  width: calc(100% - 60px);
  background-color: #fff;
  border-radius: 5px;
  margin-left: 30px;
  padding: 18px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

input {
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.sort-container {
  display: flex;
  align-items: center;
}

.sort-container label {
  margin-right: 10px;
}

select {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 0.9rem;
  text-align: left;
}

th {
  background-color: #f4f4f4;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  border: 1px solid #ddd;
  background-color: #fff;
  color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  border-radius: 4px;
  padding: 6px 12px;
}

.pagination button.active {
  background-color: #007bff;
  color: #fff;
}

.pagination button:hover {
  background-color: #eaeaea;
}

.list-btn {
  margin: 2px;
  padding: 6px 12px;
  background-color: #fff;
  color: #004494; 
  border: 1px solid #004494;
  border-radius: 20px;
  font-size: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.list-btn:hover {
  background-color: #0056b3;
  color: #fff;
}

.list-btn:active {
  background-color: #fff;
  color: #004494;
}

/* Mobile view styles */
@media (max-width: 768px) {
  .project-listing {
    width: 100vw;
    margin-left: 0;
    padding: 16px 0;
  }

  .bottom {
    
  }

  .logo-container {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
  }

  .logo {
    margin-left: 0;
    margin-bottom: 10px;
  }

  .list-container {
    width: 100vw;
    margin-left: 0;
    padding: 10px;
    height: auto;
    box-shadow: none;
  }

  .controls {
    flex-direction: column;
    align-items: stretch;
  }

  input {
    margin-right: 0;
    margin-bottom: 10px;
    width: 100%;
  }

  .sort-container {
    width: 100%;
  }

  select {
    width: 100%;
  }

  table {
    display: none;
  }

  .project-list {
    display: block;
  }

  .project-item {
    display: block;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .project-item div {
    margin-bottom: 5px;
  }

  .project-item div:last-child {
    margin-bottom: 0;
  }

  .pagination {
    flex-direction: column;
  }

  .pagination button {
    width: 10%;
    margin-bottom: 5px;
  }

  .list-btn {
    padding: 4px 8px;
    font-size: 10px;
  }
}
