/* Sidebar Styling */
.sidebar-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px; /* Sidebar width */
  height: 100vh; /* Full viewport height */
  z-index: 1000;
}

/* Content Container Adjustments */
.content-container {
  width: 92vw;
  margin-left: 20px; /* 50px left margin to account for sidebar */
  padding: 20px;
  border-radius: 20px;
  background-color: #f0f0f0; /* Background color for the content area */
  min-height: calc(100vh - 100px); /* Ensure content fills the remaining vertical space */
}



@media (max-width: 768px) {
  .sidebar-container {
    display: none; /* Hide the sidebar on mobile */
  }

  .content-container {
    margin-left: 0; /* No left margin on mobile */
    margin-top: 100px; /* Still apply top margin */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}

/* Header and Logo Styling */
.header-logo-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.header-logo-container .logo {
  max-width: 50px; /* Logo size for desktop */
  margin-right: 10px; /* Add space between the logo and heading */
  padding: 20px;
}

.header-logo-container h2 {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .header-logo-container .logo {
    max-width: 40px; /* Smaller logo on mobile */
  }

  .header-logo-container h2 {
    font-size: 1.2rem; /* Smaller heading on mobile */
  }
}
/* Background Styling */
.project-listing {
  height: 30vh;
  margin-top: 20px;
  margin-left: 50px;
  background-color: #f8f9fa;
  background-image: url('../../assets/login-bg-1.svg'); /* Background image */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Mobile View */
@media (max-width: 768px) {
  .desktop-view {
    display: none;
  }
  .project-item {
    border: 1px solid rgb(136, 134, 134);
    border-radius: 20px;
  }
  .mobile-view {
    display: block;
  }
  .sidebar-container {
    display: none;
  }
}

